<div class="container">
    <div class="row">
        <div class="col-xs-3">
<%= render 'users/info', user: @current_user %>
<%= render 'new' %>
</div>

        <div class="col-xs-9">
<h1>Book detail</h1>
<table class="table">
  <tbody>

    <tr>
      <td>
        <%= link_to user_path(@book.user.id) do %>
        <%= attachment_image_tag @book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
        <% end %>
        <br>
        <%= link_to @book.user.name, user_path(@book.user.id) %>
      </td>
      <td>
        <%= @book.title %>
      </td>
      <td>
        <%= @book.body %>
      </td>

        <% if @current_user == @book.user %>
      <td>
        <%= link_to "Edit", edit_book_path(@book), class: 'btn btn-success' %>
      </td>
      <td>
        <%= link_to "Destroy", book_path(@book), method: :delete, class: 'btn btn-danger', data: { confirm: '本当に消しますか？'} %>
      </td>
        <% end %>

    </tr>
  </tbody>
</table>
</div>
</div>
</div>